* {
    padding: 0;
    margin: 0;
}

/* structure */

header {
    height: 100px;
    background-color: green;
}

fieldset{
    margin: auto;
    width: 850px;
}

footer {    
    background-color:green;
    padding:20px;
    text-align: center;
}


/* images */

#logo {
    height: 100px;
}

#mainpicture img {
    padding: 20px 0 20px 0;
    margin: auto;
}

#char1_big {
    display: block;
}

#char2_big, #char3_big {
    display: none;
}

#subpicture {
    width: 800px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#char1_sml, #char2_sml, #char3_sml {
    width: 250px;
    height: 200px;
    cursor: pointer;
}

/* font */

h1 {
    text-align: center;
}

p {
    text-align: left;
    margin-left: 25px; 
}

footer p {
    text-align: center;
}


/* specific */

.button{
    background-color:#333;
    color: #fff;
    padding:10px 15px;
    float: right;
}

#fields {
    width: 800px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    width: 250px;
    height: 70px;
    border-radius: 7px;
    color: grey;
    border: 1px solid black;
}

/*
input[type="text"]::placeholder {
    padding-left: 5px;
}
*/